<%- include adminHeader.ejs %>

<div class="col-lg-8">
    <div class="card">
      <table class="table card-table table-vcenter">
        <tr>
          
          <th class="w-1"></th>

          <th>Name</th>
          <th class="d-none d-sm-table-cell">No. of Players</th>
          <th class="d-none d-md-table-cell">No. of Rounds</th>
          <th class="d-none d-md-table-cell">Starting Date and Time</th>
        </tr>
        <% game.forEach(function(gam) { %>

        <tr>

          <td><span class="avatar d-block rounded" style="background-image: url(demo/faces/female/25.jpg)"></span></td>
          <td><%= gam.name %></td>
          <td class="d-none d-sm-table-cell"><%= gam.noOfPlayers%></td>
          <td class="d-none d-md-table-cell"><%= gam.rounds %></td>
          <td class="d-none d-md-table-cell"><%= gam.startTime %></td>

        </tr>
        <% }); %>
    
        </table>
        </div>
        </div>
    